<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Interface</title>

<!-- Noto Serif TC -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>

<style>
#circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
</style>
</head>

<body>
  <div><h1>啥东西都没有的Alpha 0.1测试</h1>Powered By Harold with lack of confidence</div>
<div>
  <h2>下面是传输文本的地方</h2>
  <form>
    <input id='msg' type='text' name='usermsg'>
    <button id="upload_text">send your sentence</button>
  </form>
</div>

<div>
  <h3>------------优雅的分界线-----------</h3>
</div>

<div>
  <h2>下面是传输音频文件的地方</h2>
  <h3>上传完成后会有弹窗 在弹窗前不要关闭窗口</h3>
  <h3>请不要上传音频之外的东西，文件不要大于5mb</h3>
  <form enctype="multipart/form-data">
    <p>上传音频文件<input type="file" id="audio_file" name="audio_file"/></p>
    <button id="import">上传</button>
  </form>
</div>

<script type="application/javascript">
  // Text upload function
  // special thanks to https://blog.csdn.net/weixin_45050258/article/details/103134233
  $("#upload_text").click(function () {
    var sentence = JSON.stringify($('#msg').serializeJSON());  // {"usermsg":"msg"}
    $.ajax({
      type:"POST", // 传输方式
      url:"/text_pipeline",
      contentType:"application/json;charser=UTF-8",
      data: sentence,  // {"username":"chen","nickname":"alien"} 传输待传输数据
      dataType:"text", // 预期返回的数据格式
      success:function(ret) {  // 这里的ret后端返回的
        alert(ret);
      },
      error:function() {
        alert("请求出错！");
      }
    });
  });

  // Audion upload function
  // Special thanks to https://www.cnblogs.com/Renyi-Fan/p/9581951.html
  $("#import").click(function () {
    var files = $('#audio_file').prop('files');
    var audio_data = new FormData();
    audio_data.append('audio_file', files[0]);
    $.ajax({
      type: 'POST',
      url: "/audio_pipeline",
      data: audio_data,
      cache: false,
      processData: false,
      contentType: false,
      async: false,
      dataType:"text",
      success: function (ret) {
          alert(ret);
      }
    });
  });
</script>

</body>


</html>
