<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Interface</title>
<!--
阿哈你发现了我
这里是项目：巴别塔的开发致你的一些话：
这是一次临时起意的共创项目，
由于主程缺少web开发经验，
所以请不要发起DDOS攻击，
不要上传过大的文件，非音频类文件。
不要伪装文件进行攻击。
如果您希望改进我们网站的安全性，以及其他的功能提升
请访问项目地址：https://github.com/HaroldLee931/AudioLink
紧急联系请拨打：+86 15801881452
-->

<!-- Noto Serif TC -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>

<style>
#circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}
</style>
</head>

<body>
  <div><h1>啥东西都没有的Alpha 0.1测试</h1>Powered By Harold with lack of confidence</div>
<div>
  <h2>下面是传输文本的地方</h2>
  <form>
    <input id='msg' type='text' name='usermsg'>
    <button id="upload_text">send your sentence</button>
  </form>
</div>

<div>
  <h3>------------优雅的分界线-----------</h3>
</div>

<div>
  <h2>下面是传输音频文件的地方</h2>
  <h3>上传完成后会有弹窗 在弹窗前不要关闭窗口</h3>
  <h3>请不要上传音频之外的东西，文件不要大于5mb</h3>
  <form enctype="multipart/form-data">
    <p>上传音频文件<input type="file" id="audio_file" name="audio_file"/></p>
    <button id="import">上传</button>
  </form>
</div>

<script type="application/javascript">
  var buffer;
  // Text upload function
  // special thanks to https://blog.csdn.net/weixin_45050258/article/details/103134233
  $("#upload_text").click(function () {
    var sentence = JSON.stringify($('#msg').serializeJSON());  // {"usermsg":"msg"}
    $.ajax({
      type:"POST", // 传输方式
      url:"/text_pipeline",
      contentType:"application/json;charser=UTF-8",
      data: sentence,  // {"username":"chen","nickname":"alien"} 传输待传输数据
      dataType:"text", // 预期返回的数据格式
      success:function(ret) {  // 这里的ret后端返回的
        alert(ret);
      },
      error:function() {
        alert("请求出错！");
      }
    });
  });

  function jump(url){
    alert("感谢参与，将为您跳转到新页面");
		window.location.href = url;
  };

  // Audion upload function
  // Special thanks to https://www.cnblogs.com/Renyi-Fan/p/9581951.html
  $("#import").click(function (e) {
    e.preventDefault();
    var files = $('#audio_file').prop('files');
    var audio_data = new FormData();
    audio_data.append('audio_file', files[0]);
    $.ajax({
      type: 'POST',
      url: "/audio_pipeline",
      data: audio_data,
      cache: false,
      processData: false,
      contentType: false,
      async: true,
      /* dataType:"text",
      success: function (ret) {
          alert(ret['context']);
          window.location.replace("/vislization.html");
      },*/
      // TODO: 需要一个禁止再次按按钮的功能
      // TODO: 需要保存cookie
      success: function(ret){
        buffer = ret;
        jump("http://110.40.187.74:8988/visualization");
      },

      error: function (ret) {
          alert(ret['content']);
      },

    });




  });
</script>

</body>


</html>
